body {
    background-color:wheat;
}

h1 {
    font-family: sans-serif;
    color:black;
    text-shadow: 3px 3px 3px #3f04027e;
    font-style:oblique;
}

p{
font-family: sans-serif;
color:blue;
text-shadow: 3px 3px 3px #acf2ee;
font-style:oblique;
}
